.info{
  display: flex;
  flex-direction: row;
  padding: 30px;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.info-img{
  width: 30%;
  filter: invert(1);
}

.info-content{
  padding: 20px;
  width: 50%;
}

.info-content h5{
  color: rgba(0, 0, 0, 0.416);
}

.info-content h4{
  color: blue;
}